%h2= @collection.name
%h3 Statistics

%div.span-16
  %span.label.span-4 Row Count: 
  %span.span-4= @collection.row_count
%div.span-16
  %span.label.span-4 Fields
  %span.span-4
    %table= render :partial => "field", :collection => @collection.fields
%div.span-16
  %span.label.span-4 Sample Data
  %span.span-4
    %table
      - @collection.fields.sort.each do |field|
        %th= field
      = render :partial => "sample", :collection => @collection.samples, :fields => @collection.fields.sort

= link_to "Analytics", analytics_path
= link_to "New Analytic", :controller => "analytics", :action => "new_from_coll"
/*  %div.demo
/*    %div#draggable.ui-widget-content{:style=>"width:150px;height:150px;background-color:pink;border:1px solid #999999"} Drag Me
  
/*  %div#droppable.ui-widget-header{:style=>""}
/*    %p Drop me

