= form_for @analytic do |f|
  -if @analytic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@analytic.errors.count, "error")} prohibited this analytic from being saved:"
      %ul
        - @analytic.errors.full_messages.each do |msg|
          %li= msg
  %div        
    %span.span-3= f.label :name
    %span= f.text_field :name
  %div        
    %span.span-3= f.label :database_name
    %span= f.text_field :database_name
  %div
    %span.span-3= f.label :collection_name
    %span= f.text_field :collection_name
  %div
    %span.span-3= f.label :column
    %span= f.select(:column, options_for_select(@fields))
  %div
    %span.span-3= f.label :row
    %span= f.select(:row, options_for_select(@fields))
  %div
    %span.span-3= f.label :value
    %span= f.select(:value, options_for_select(@fields)) 
  %div
    %span.span-3= f.label :action
    %span= f.select(:action, options_for_select(@actions)) 
  
  .actions
    = f.submit 'Save'