= form_for @database do |f|
  -if @database.errors.any?
    #error_explanation
      %h2= "#{pluralize(@database.errors.count, "error")} prohibited this database from being saved:"
      %ul
        - @database.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
